body {
	font-size: 10px;
}
.main {
	
	&__new-contact{
		margin-bottom: 2rem;
		display: block;
	}
	&__table{
		position: relative;
	}
	&__modal {
		// display: flex;
		// flex-direction: column;
		// padding: 1rem;
		// position: absolute;
		// z-index: 999;
		// left: 0;
		// right: 0;
		// bottom: 0;
		// top: 0;
		// background-color: #fff;
   
	}
	&__modal-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
	}
	&__register{
		display: flex !important;
		margin-right: auto !important;
		padding: .5rem 5rem !important;
	}
}
